*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}


:root{
    --bg-color: #ffffff;
    --text-color: #121212;
    --main-font: 1.1rem;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
    max-width: 100%;
    height: auto;
}
header{
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    position: fixed;
    background: var(--bg-color);
    box-shadow: 0px 2px 18px 0 rgb(129 162 182 / 20%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 8%; 
    transition: .3s;
}
.logo{
    color: var(--text-color);
    font-size: var(--main-font);
    font-weight: 600;
    line-height: 0.8;
}
#menu-icon{
    font-size: 38px;
    color: var(--text-color);
    z-index: 10001;
    display: none;
}
.navbar{
    display:flex;
}
.navbar a{
    font-size: var(--p-font);
    color: var(--text-color);
    font-weight: 600;
    padding: 10px 15px;
    margin: 0 10px;
    transition: all .40s ease;
}
.navbar a:hover{
    background: var(--text-color);
    color: rgb(167, 46, 140);
}
.icons{
    display: inline-block;
}
.icons i{
    color: var(--text-color);
    font-size: 24px;
    margin-left: 15px;
}
.icons i:hover{
    opacity: 0.7;
}
section{
    padding: 100 8%;
}
.container{
    display:flex;
    grid-template-columns: repeat(auto-fit, minmax(360px,auto));
    align-items: center;
    gap: 2rem;
    text-align: center;
    cursor: pointer;
    padding-top: 15px;
    flex-direction:row;
    flex-wrap: wrap;
}
.box{
    padding: 0px 20px 10px 20px;
    background: transparent;
    box-shadow: 5px 30px 56.1276px rgb(55 55 55 /12%);
    border-radius: 10px;
    position: relative;
    transition: all .35s ease;
    justify-content: space-between; 
    margin-top:70px;
    margin-left:10px ;
    margin-right:10px ;
    width:200px
}
.box img{
    width:100px;
    height:auto;
}
.box h4{
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 8px;
}
.box h5{
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.box .cart i{
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    background: var(--text-color);
    color: var(--bg-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
.box:hover{
    transform: translateY(-5px);
}
.about{
    background: #f7f6f6;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
}
.about-content{
    text-align:center;
}
.about-content h2{
    font-size: var(--main-font);
    margin-bottom: 30px;
}
.about-content p{
    max-width: 600px;
    font-size: var(--p-font);
    font-weight:600;
    color: var(--text-color);
    line-height: 30px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }
  html,body{
    display: grid;
    height: 100vh;
    place-items:center;
    background: #fff;
  }
  .main_div{
    width: 365px;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  }
  .main_div .title{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
  }
  .main_div .social_icons{
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .social_icons a{
    display: block;
    height: 45px;
    width: 100%;
    line-height: 45px;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s linear;
  }
  .social_icons a span{
    margin-left: 5px;
    font-size: 18px;
  }
  .social_icons a:first-child{
    margin-right: 5px;
    background: #4267B2;
  }
  .social_icons a:first-child:hover{
    background: #375695;
  }
  .social_icons a:last-child{
    margin-left: 5px;
    background: #1DA1F2;
  }
  .social_icons a:last-child:hover{
    background: #0d8bd9;
  }
  form {
    margin-top: 25px;
  }
  form .input_box{
    height: 50px;
    width: 100%;
    position: relative;
    margin-top: 15px;
  }
  .input_box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding-left: 45px;
    font-size: 17px;
    transition: all 0.3s ease;
  }
  .input_box input:focus{
    border-color: #be2edd;
  }
  .input_box .icon{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: grey;
  }
  form .option_div{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
  }
  .option_div .check_box{
    display: flex;
    align-items: center;
  }
  .option_div span{
    margin-left: 5px;
    font-size: 16px;
    color: #333;
  }
  .option_div .forget_div a{
    font-size: 16px;
    color: #be2edd;
  }
  .button input{
    padding-left: 0;
    background: hsl(303, 90%, 44%);
    color: #fff;
    border: none;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s linear;
  }
  .button input:hover{
    background: #a720c5;
  }
  form .sign_up{
    text-align: center;
    margin-top: 25px;
  }
  .sign_up a{
    color: #be2edd;
  }
  form a{
    text-decoration: none;
  }
  form a:hover{
    text-decoration: underline;
  }
  

.contact{
    padding: 80px 17%;
    background: var(--text-color);
}
.main-contact{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem;
}
.contact-content {
margin-bottom: 15px;
}
.contact-content a{
    display: block;
    color: var(--bg-color);
    font-size: var(--p-font);
    font-weight: 500;
    transition: all .20s ease;
}
.contact-content a:hover{
    transform: translateX(-10px);
}
.action form{
    text-align: center;
}
.action form input[type="email"]{
    width: 460px;
    max-width: 100%;
    padding: 12px 15px;
    background: #6df399
    color var(--bg-color);
    border: none;
    outline: none;
    margin: 0px 10px 20px 0px;
    font-size: 16px;
    font-weight: 600;
}

.action form input[type="submit"]{
    padding: 15px 35px;
    background: var(--bg-color);
    color: var(--text-color);
    border: none;
    outline: none;
    margin: 0px 10px 20px 0px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
.last{
    text-align: center;
    padding: 17px;
    background: #757575;
}
.last p{
    color: var(--text-color);
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
}
@media(max-width:800px){
    #menu-icon{
        display: block;
    }
    header{
        padding: 15px 8%;
    }
    .navbar{
        top: -500%;
        left: 0;
        right: 0;
        position: absolute;
        flex-direction: column;
        background: var(--bg-color);
        box-shadow: 0px 2px 18px 0 rgb(129 162 182 / 20%);
        transition: all .40s ease;
    }
    .navbar a{
        display: block;
        padding: 1rem;
        margin: 0.5rem;
    }
    .navbar.active{
        top: 100%;
    }
}